name: Reusable smoke test on Windows

on:
  workflow_call:
    inputs:
      run_on:
        required: true
        type: string

jobs:
  smoke_test:
    name: Smoke test
    runs-on: ${{ inputs.run_on }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Setup Go
        id: go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.25
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Install depend
        run: |
          python -m pip install pexpect
      - name: Install
        run: make install
      - name: Check rebuild
        id: check_rebuild
        working-directory: ./smoke_test
        run: |
          python smoke_test.py
      - uses: nick-invision/assert-action@v2
        with:
          expected: "PASS"
          actual: ${{ steps.check_rebuild.outputs.value }}
